{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "mpierre-@us.ibm.com",
      "Space": "dev"
    },
    "Name": "cla-mgr-le",
    "Instrumentation": {
      "host": "cla-mgr-le",
      "domain": "mybluemix.net"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}